{% extends "pr7_layout.html" %}
{% block content%}

<p>
Мы рады приветствовать Вас в интернет-магазине AutoThing.RU, который является подразделением крупнейшего поставщика автозапчастей в Европе.

Основным направлением деятельности компании является СРОЧНАЯ поставка автозапчастей.

Московский склад запчастей АВТО3Н обладает достаточными логистическими возможностями для оперативных поставок по всему ассортименту автомобильных комплектующих для всех легковых иномарок европейских, корейских и японских производителей.

Ассортимент компании насчитывает более 2 864 000 уникальных и более 200 000 артикулов в наличии.

Наши партнеры – это поставщики ведущих автомобильных концернов Европы.
Мы предлагаем как оригинальные запчасти, так и качественные заменители. Также наша компания предоставляет услугу «автозапчасть под заказ» со сроком исполнения от 24 часов (если требуемых автозапчастей нет в наличии в локальной зоне). Надеемся, выбрав нашу компанию, Вы обретете надежного партнера, что поможет нам вместе добиться успеха и процветания.

Автозапчасть под заказ.

Для наших клиентов доступны автозапчасти со складов официальных дилеров, дистрибьюторов неоригинальных автозапчастей и зарубежных складов.

Ассортимент в наличии более 200 000 наименований.

По каждому артикулу мы можем предложить несколько кодов аналогов с разными уровнями качества.

В наличии около 8 035 000 кодов аналогов.

Автозапчасти для европейских, корейских и японских легковых автомобилей.

Ассортимент включает автозапчасти, комплектующие, аксессуары и смазочные материалы.

Гарантия на всю продукцию.

Мы работаем только с известными поставщиками и брендами, что страхует наших партнёров от приобретения контрафакта.


Работа в режиме on-line.

Заказ и отгрузка оформляется в реальном времени. Вы можете отслеживать все стадии Вашей закупки от заказа до получения.


Электронные каталоги для подбора автозапчастей.

Подбор конкретной автозапчасти с помощью электронных каталогов производителей. Кроссировки по оригинальным номерам автопроизводителей и возможность выбора артикула от разных производителей по нескольким уровням качества и цене.

Реквизиты:

ООО «АВТО 3Н»
ОГРН: 1175029009704
ИНН: 5029220209
КПП: 502901001
Расчетный счет: 40702810540000024462
Банк: ПАО Сбербанк
Корреспондентский счет: 30101810400000000225
БИК: 044525225
Юридический адрес: 141031, Московская область, городской округ Мытищи, поселок Нагорное, шоссе Липкинское, строение 1А/1, помещение 18
 </p>
{%endblock%}